<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% if movies %}Update Movies{% else %}Create Movies{% endif %}</title>
</head>
<body>
    <h1>{% if movies %}Update Movies{% else %}Create Movies{% endif %}</h1>
    <form method="post">
        {% csrf_token %}
        <label for="title">Title</label>
        <input type="text" name="title" id="title" value="{{ movies.title }}"><br>
        <label for="director">Director</label>
        <input type="text" name="director" id="director" value="{{ movies.director }}"><br>
        <label for="release_year">Release Year</label>
        <input type="number" name="release_year" id="release_year" value="{{ movies.release_year }}"><br>
        <label for="genre">Genre</label>
        <input type="text" name="genre" id="genre" value="{{ movies.genre }}"><br>
        {% if movies %}
            <button type="submit">update</button>
            <button><a href="{{ movies.get_detail_url }}">Back to Detail</a></button>
        {% else %}
            <button type="submit">Create</button>
            <button><a href="{% url 'movies:list' %}">Back to List</a></button>
        {% endif %}
    </form>
</body>
</html>