<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sports List</title>
</head>
<body>
    <h1>Sports List</h1>
    <button><a href="{% url 'sports:create' %}">Create Sports</a></button>
    <button><a href="{% url 'sports:home' %}">Home Sports</a></button>
    {% for sports in sports %}
    <a href="{{ sports.get_detail_url }}">
    <h3>{{ sports.event_name }}</h3>
    <h3>{{ sports.location }}</h3>
    <h3>{{ sports.date }}</h3>
    <h3>{{ sports.sport_type }}</h3>
    </a>
    {% empty %}
        <h3>No Sports</h3>
    {% endfor %}
</body>
</html>

