<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% if sports %}Update Sports{% else %}Create Sports{% endif %}</title>
</head>
<body>
    <h1>{% if sports %}Update Sports{% else %}Create Sports{% endif %}</h1>
    <form method="post">
        {% csrf_token %}
        <label for="event_name">Event Name</label>
        <input type="text" name="event_name" id="event_name" value="{{ sports.event_name }}"><br>
        <label for="location">Location</label>
        <input type="text" name="location" id="location" value="{{ sports.location }}"><br>
        <label for="date">Date</label>
        <input type="date" name="date" id="date" value="{{ sports.date }}"><br>
        <label for="sport_type">Sport Type</label>
        <input type="text" name="sport_type" id="sport_type" value="{{ sports.sport_type }}"><br>
        {% if movies %}
            <button type="submit">update</button>
            <button><a href="{{ sports.get_detail_url }}">Back to Detail</a></button>
        {% else %}
            <button type="submit">Create</button>
            <button><a href="{% url 'sports:list' %}">Back to List</a></button>
        {% endif %}
    </form>
</body>
</html>